{{define "header"}}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hybrid Network</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="assets/img/assets/favicon.png" rel="icon" type="image/png">
<link href="assets/css/init.css?ver=2" rel="stylesheet" type="text/css">
<link href="assets/css/theme.css?ver=4" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,500,600,700" rel="stylesheet">
</head>
<body data-fade-in="true">
{{end}}
