{{define "main"}}
{{template "header" .}}
<div class="pre-loader">
  <div></div>
</div>
<!-- Start Header -->
<nav class="navbar nav-down" data-fullwidth="true" data-menu-style="transparent" data-animation="shrink"> 
  <!-- Styles: light, dark, transparent, transparent-to-dark | Animation: hiding, shrink -->
  <div class="container">
    <div class="navbar-header">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span> </button>
        <a class="navbar-brand to-top" href="/"><img src="assets/img/assets/logo-light.png" class="logo-light" alt="#"><img src="assets/img/assets/logo-dark.png" class="logo-dark" alt="#"></a> </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="container">
        <ul class="nav navbar-nav logo-left">          
          <!-- Each section must have corresponding ID ( #hero -> id="hero" ) -->
                <li {{if .IsIndex }}class="active"{{end}}><a href="/">Home</a></li>
                <li {{if .IsStats }}class="active"{{end}}><a href="/stats">Stats</a></li>
                {{if .User}}<li {{if .IsAddress }}class="active"{{end}}><a href="/address">Address</a></li>{{end}}
                {{if .User}}<li {{if .IsSettings }}class="active"{{end}}><a href="/settings">Setting</a></li>{{end}}
                {{if .User}}{{if .User.MultiSigAddress}}<li {{if .IsTickets }}class="active"{{end}}><a href="/tickets">Tickets</a></li>{{end}}{{end}}
                {{if .User}}{{if .User.MultiSigAddress}}<li {{if .IsVoting }}class="active"{{end}}><a href="/voting">Voting</a></li>{{end}}{{end}}
        </ul>

        {{if .User}}
        <ul class="nav navbar-nav navbar-right">
          <li>
          <p class="navbar-text">
          Hello, {{ .User.Email}}
          </p>
          </li>
          <li><a href="/logout">Logout</a></li>
              </ul>
        {{else}}
              <ul class="nav navbar-nav navbar-right">
          {{if .IsEmailUpdate }}<li><a href="/emailupdate">Email Update</a></li>{{end}}
          {{if .IsEmailVerify }}<li><a href="/emailverify">Email Verification</a></li>{{end}}
          {{if .IsPasswordReset }}<li><a href="/passwordreset">Password Reset</a></li>{{end}}
          {{if .IsPasswordUpdate }}<li><a href="/passwordupdate">Password Update</a></li>{{end}}
          <li><a href="/signin">Sign In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
        {{end}} 

      </div>
    </div>
  </div>
</nav>
<!-- End Header --> 
{{.Content}}
{{template "footer" .}}
{{end}}

