{{define "passwordreset"}}
<!-- Hero -->
<section id="hero" class="hero-fullscreen parallax register-page" style="height: 100vh;">
  <div class="background-image"> <img src="assets/img/backgrounds/bg-1.jpg" alt="#"> </div>
  <div class="container">
  
  <div class="row">
   <div class="col-sm-6 mr-auto">
      
     
    <div class="row">
      
      <div class="col-sm-11 mr-auto">
      
      <div class="login-box register-box mb20">
	{{if .SMTPDisabled }}<div class="well well-notification  orange-notification">Mail server not configured.  You will not receive an password reset link.</div>{{end}}
	{{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
	{{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}
    </div>
    <div class="login-box register-box mb20">
	<h6>Password Reset</h1>
	{{if .FlashSuccess}}
	<p><span style="font-size: larger;">Check your email inbox, and click the link in the email you received to reset your password.</span></p>
	{{end}}
	<div class="login-body">
      
	<form method="post" class="form-horizontal">
      <ul class="login-form">
      	 <li><div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
      			<input name="email" type="email" class="form-control sing-in-control email-control" id="email" placeholder="Email" required>
  		</div></li>
		<li>
		<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
			<label class="col-md-4 control-label" for=""></label>
			<div class="col-md-6">
			<div class="g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}" data-theme="light"></div>
			</div>
		</div>
		</li>
		<li>
		<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
			<label class="col-md-12 control-label" for="resetpassword"></label>
			<div class="col-md-12">
			<!-- <button id="resetpassword" name="signin" class="btn btn-danger btn-block">Reset Password</button> -->
			<input  id="resetpassword" name="signin" type="submit" class="btn btn-danger" value="Reset Password" style="width: 100%;margin: 0px;line-height: 50px;height: 50px;padding: 0px 33px;background: #ff8934;border: none;border-radius: 5px;color: #ffffff;font-size: 14px;font-weight: normal;">
			</div>
		</div>
		</li>
		<input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
	</form>
</div>

    </div>
  </div>
 </div>
  </div>
</section>
{{end}}
