{{define "settings"}}
<!-- Hero -->
<section id="hero" class="hero-fullscreen parallax register-page">
  <div class="background-image"> <img src="assets/img/backgrounds/bg-1.jpg" alt="#"> </div>
  <div class="container">
  
  <div class="row">
   <div class="col-sm-6 mr-auto">
      
     
    <div class="row">
      
      <div class="col-sm-11 mr-auto">
      
      <div class="login-box register-box mb20">
      {{if .SMTPDisabled }}<div class="well well-notification  orange-notification">Mail server not configured.  You will not receive an email change verification link.</div>{{end}}
    {{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
    {{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}

     {{if .ShowInstructions }}
      <p><strong>To start staking, you need to submit a public key address.
      You may proceed by following the command-line instructions on the
      <a href="/address">Address Page</a>.</strong></p><br>
      {{end}}

      <h6>Settings</h6>
      <form>
      <div class="login-body">
      
      <p><strong>API Token:</strong></p>
      <pre>{{ .APIToken }}</pre>
      
      
      </div>
      
      
      </form>
      
      </div>
      
      <div class="login-box register-box mb20">
      <h6>Change Email Address</h6>
      <form method="post">
      <div class="login-body">
      
      <ul class="login-form">
      <li><input id="email" name="email" placeholder="New Email Address" type="email" class="form-control" required></li>
       <li><input id="emailpassword" name="password" placeholder="Password" type="password" class="form-control" required></li>
      
      <li>
        <div class="g-recaptcha pull-right" style="padding-right: 15px;" data-sitekey="{{.RecaptchaSiteKey}}" data-theme="light">
      </li>
      
       <li class="btn-panel">
        <input type="submit" class="btn btn-danger btn-block" value="Change Email Address" id="updateEmail" name="updateEmail">
       </li>
      
      </ul>
           
      </div>     
        <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}> 
      </form>
      </div>
      
      <div class="login-box register-box">
      <h6>Change Password</h6>
      <form method="post">
      <div class="login-body">
      
      <ul class="login-form">
      <li>
        <input id="curpassword" name="password" type="password" placeholder="Current Password" class="form-control" required>
      </li>
       <li>
        <input id="newpassword" name="newpassword" type="password" placeholder="New Password" class="form-control" required>
      </li>
       <li>
        <input id="newpasswordrepeat" name="newpasswordrepeat" type="password" placeholder="Confirm new password" class="form-control" required>
      </li>
      
      
      
       <li class="btn-panel">
        <input type="submit" class="btn btn-danger btn-block" value="Update Password" id="updatepassword" name="updatePassword" >
       </li>
      
      </ul>
      
      
      </div>
      <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
      </form>
      
      </div>
      
      </div>
    </div>
  </div>
 </div>
  </div>
</section>
<!-- End Hero --> 
{{end}}
