{{define "tickets"}}
<!-- Hero -->
<section id="hero" class="hero-fullscreen parallax register-page stats-page">
  <div class="background-image"> <img src="assets/img/backgrounds/bg-1.jpg" alt="#"> </div>
  <div class="container">
  
  <div class="row">
   <div class="col-sm-11 mr-auto">
      
     
    <div class="row">
      
      <div class="col-sm-11 mr-auto" style="margin-bottom: 320px;">
      
        <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
	    {{if .Error}}<div class="well well-notification  orange-notification">{{.Error}}</div>{{end}}
	    {{range .Flash}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
	    {{range .FlashWarn}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
  		</div>
       <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Ticket Information
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                <h4>P2SH Address:</h4>
                <pre>{{ .User.MultiSigAddress }}</pre>
                 <hr>
                 <h4>Redeem Script:</h4>
                <pre>{{ .User.MultiSigScript }}</pre>
                 
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                         Ticket Instructions
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                   <h4> Step 1</h4>

<p>The official HX GUI wallet is currently under development. We will be working on a comprehensive guide after development.</p>

<p>It is recommended to use the latest versions of the hxwallet software before starting. </p>

<h4>Step 2</h4>

<p>Your multisignature script for delegating votes has been generated. Please first import it locally into your wallet using hxctl for safe keeping, so you can recover your funds and vote in the unlikely event of a pool failure:</p>

<p><strong>hxctl --wallet importscript "script"</strong></p>

<p>For example:</p>
<pre>$ hxctl {{ if eq .Network "testnet"}}--testnet{{end}} --wallet importscript {{ .User.MultiSigScript }}</pre>

<p>After successfully importing the script into your wallet, you may purchase tickets with voting rights delegated to the pool in either of two ways:</p>

<h4>Step 3</h4>

<p><strong>Option A - hxwallet - Automatic purchasing</strong></p>

<p>Stop hxwallet if it is currently running and add the following to hxwallet.conf:</p>

<pre>[Application Options]
enableticketbuyer=true
pooladdress={{ .User.UserFeeAddr }}
poolfees={{ .PoolFees }}
ticketaddress={{ .User.MultiSigAddress }}
[Ticket Buyer Options]
ticketbuyer.maxpriceabsolute=100
</pre>

<p>Unlock hxwallet and it will automatically purchase stake tickets delegated to the pool address.</p>

<p><strong>Option B - hxwallet - Manual purchasing</strong></p>

<p>Start a wallet with funds available and manually purchase tickets with the following command using hxctl:</p>

<p><strong>hxctl {{ if eq .Network "testnet"}}--testnet{{end}} --wallet purchaseticket "fromaccount" spendlimit minconf ticketaddress numtickets poolfeeaddress poolfeeamt</strong></p>
<pre>hxctl {{ if eq .Network "testnet"}}--testnet{{end}} --wallet purchaseticket "default" 100 1 {{ .User.MultiSigAddress }} 1 {{ .User.UserFeeAddr }} {{ .PoolFees}}</pre>

<p>Will purchase a ticket delegated to the the multisig address which allows either your or the pool to vote when the ticket is called. This uses funds from the default account only if the current network price for a ticket is less than 100.0 coins.</p>

<h4>Step 4 (Optional)</h4>

<p><strong>Voting</strong></p>

<p>The preferences you set on this stake pool's <a href="/voting">voting page</a> only affect the stake pool's voting wallets and not your own.</p>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                       Live/Immature
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                   	{{if not .TicketsLive}}
					<p><strong>No live tickets.</strong></p>
					{{end}}
					{{if .TicketsLive}}
					<div class="table-responsive">
					<table id="ticketslive" class="table table-striped table-condensed" style="width:100%">
						<thead>
							<tr>
								<th>Ticket</th>
								<th>Ticket Height</th>
							</tr>
						</thead>
						<tbody>
						{{ range $i, $data := .TicketsLive }}<tr>
							<td><a href="https://blockchain.info/tx/{{$data.Ticket}}" target="_blank">{{$data.Ticket}}</a></td>
							<td>{{ $data.TicketHeight }}</td>
							</tr>{{end}}
						</tbody>
						<tfoot>
							<tr>
								<th>Ticket</th>
								<th>TicketHeight</th>
							</tr>
						</tfoot>
					</table>
					</div>
					{{end}}
                   
                   
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                      Voted Tickets
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                	<p><strong>{{.TicketsVotedCount}} total tickets voted ({{.TicketsVotedArchivedCount}} archived and not shown).</strong></p>

			{{if .TicketsVoted}}
			<div class="table-responsive">
			<table id="ticketsvoted" class="table table-striped table-condensed" style="width:100%">

			<thead>
				<tr>
					<th>Ticket</th>
					<th>Spent Height</th>
					<th>Ticket Height</th>
				</tr>
			</thead>
			<tbody>
			{{ range $i, $data := .TicketsVoted }}<tr>
				<td><a href="https://blockchain.info/tx/{{$data.Ticket}}" target="_blank">{{$data.Ticket}}</a></td>
				<td><a href="https://blockchain.info/tx/{{$data.SpentBy}}" target="_blank">{{$data.SpentByHeight}}</a></td>
				<td>{{$data.TicketHeight}}</td>
				</tr>{{end}}
			</tbody>
			<tfoot>
				<tr>
					<th>Ticket</th>
					<th>Spent Height</th>
					<th>Ticket Height</th>
				</tr>
			</tfoot>
			</table>
			</div>
			{{end}}

                  
                </div>
            </div>
        </div>
        
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                       Missed Tickets
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
               
                  <div class="panel-body">
                  	{{if not .TicketsMissed}}
			<p><strong>No missed tickets.</strong></p>
			{{end}}
			{{if .TicketsMissed}}
			<div class="well well-notification  orange-notification"><b>Caution!</b> Missed tickets can be caused by a poorly connected miner and may not be any fault of the pool.</div>
			<div class="table-responsive">
			<table id="ticketsmissed" class="table table-striped table-condensed" style="width:100%">

			<thead>
				<tr>
					<th>Ticket</th>
					<th>Spent Height</th>
					<th>Ticket Height</th>
				</tr>
			</thead>
			<tbody>
			{{ range $i, $data := .TicketsMissed }}<tr>
				<td><a href="https://blockchain.info/tx/{{$data.Ticket}}" target="_blank">{{$data.Ticket}}</a></td>
				<td>{{$data.SpentByHeight}}</td>
				<td>{{$data.TicketHeight}}</td>
				</tr>{{end}}
			</tbody>
			<tfoot>
				<tr>
					<th>Ticket</th>
					<th>Spent Height</th>
					<th>Ticket Height</th>
				</tr>
			</tfoot>
			</table>
			</div>
			{{end}}
                </div>
           
        </div>
        
        
        
        

    </div><!-- panel-group -->
    
    
    
      
      
      
      
      
      
      
      </div>
      
    </div>
    
          
      
    </div>
  </div>
 </div>
  </div>
</section>
<!-- End Hero --> 
<script src="assets/js/jquery.js?2"></script> 
<script src="assets/js/init.js?2"></script> 
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script> 


<script>
$(document).ready(function() {
   		  $('#ticketslive').DataTable();
		  $('#ticketsvoted').DataTable();
		  $('#ticketsmissed').DataTable();
}(jQuery));
</script>
<script src="assets/js/scripts.js"></script>
{{end}}