{{define "voting"}}
<!-- Hero -->
<section id="hero" class="hero-fullscreen parallax register-page address-page" style="height: 100vh;">
  <div class="background-image"> <img src="assets/img/backgrounds/bg-1.jpg" alt="#"> </div>
  <div class="container">
  
  <div class="row">

    <div class="col-sm-8 mr-auto ">
    {{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
    {{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}
  </div>

  <div class="col-sm-8 mr-auto ">
    <h3>Voting Preferences (v{{.VoteVersion}})</h3>


    <!-- AGENDAS -->
<p><strong>Agendas</strong></p>
    {{with .Agendas}}
    <form method="post" class="form-horizontal">
      {{ range $i, $data := . }}
        <div class="form-group">
          <label class="control-label col-sm-15" for="agenda{{$i}}">{{$data.Vote.Id}} - {{$data.Vote.Description}}</label>
          <div class="col-sm-15">
            <select class="form-control" name="agenda{{$i}}" id="agenda{{$i}}">
              {{ range $j, $choicesdata := $data.Vote.Choices}}
                <option value="{{$choicesdata.Bits}}"{{if eq $choicesdata.Bits (index $ (print "Agenda" $i "Selected"))}} selected{{end}}>{{$choicesdata.Description}}</option>
              {{end}}
            </select>
          </div>
        </div>
      {{end}}
    <div class="form-group">
        <button id="updateVoting" name="updateVoting" class="btn btn-primary">Update Voting Preferences</button>
    </div>
    <input type="hidden" name="{{$.CsrfKey}}" value={{$.CsrfToken}}>
    </form>
    {{else}}
    <p><strong>There are no active agendas to vote on currently.</strong></p>
    {{end}}


  </div>

 </div>
  </div>
</section>
<!-- End Hero --> 
{{end}}
